*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ol,ul{
    list-style: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 980px;
    margin: 0 auto;
}

.nav-box{
    width: 1149px;
    margin: 0 auto;
}

.div{
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.left{
    text-align: center;
    padding-top: 150px;
    background: #2D3E4F; 
    width: 30%;
}

.right{
    width: 80%;
}

.div-img {
    background-image: url(./img/IMAGE.png);
    background-repeat: no-repeat;  
    background-size: 100%;                    
}

.div-all {
    height: 657px;
    width: 100%;
    opacity: 0;
    font-size: 30px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 1s;
    background-color: #da0a0a2d;
}

.div-text{
    width: 360px;
    margin-left: 25%;
   
}

.div-p p{
    width: 400px;
    text-align: center;
}

.div-p{
    width: 100%; 
    padding-top: 250px;
    cursor: pointer;
}

.div-all:hover{
    opacity: 100%;
    transition: 1s;
}

.div-left p{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -1px;
    text-align: center;
}

.div-left:nth-child(1){
    height: 44px;
    width: 122px;
    margin-left: 14%;
    margin-right: 55px;
    border-radius: 4px;
}

.div-left{
    height: 44px;
    width: 122px;
    padding-top: 8px;
    border-radius: 4px;
    margin-top: 23px;
    border: 2px solid #FFFFFF;
    transition: .4s;
}

.div-left:hover{
    background-color: #CF404D;
    border: 2px solid #CF404D;
    cursor: pointer;
    transition: .4s;
}

.div-red{
    display: flex;
}

.left p:nth-child(1){
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 60px;
    color: #CF404D;
}

.left p{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    transition: .4s;
}

.left p:hover{
    color: #CF404D;
    cursor: pointer;
    transition: .4s;
}

.section-text{
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -1px;
    margin-top: 60px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-text:nth-child(2){
    font-size: 15px;
    font-weight: 400;
    color: #737373BD;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 65px;
    text-align: center;
}

.section-icon p{
    width: 240px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.a{
    margin-top: 12px;
    padding-bottom: 16px;
}

.a1{
    margin-top: 12px;
    padding-bottom: 7px;
}

.section-icon img{
    /* margin-left: 20px; */
    margin-bottom: 25px;
}

.section-icon b{
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.section-icon a{
    color: #CF404D;
}

.section-all{
    width: 900px;
    display: flex;
    margin: 30px;
    justify-content: space-between;
}

.color-red{
    height: 135px;
    background: #CF404D;
    margin-top: 65px;
    margin: 60px;
    
    
}

.color-red .container{
    display: flex;
    justify-content: space-evenly;
}

.class-link p{
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-top: 45px;
    color: white;
}

.class-link1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;   
    text-align: center;
}

.class-link1{
    height: 47px;
    width: 127px;
    border-radius: 4px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-top: 45px;
    padding-top: 10px;
    cursor: pointer;
}

.photo-all{
    width: 950px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    justify-content: space-between;
}

.photo-img{
    margin-bottom: 15px;
    position: relative;
    
}

.all{
    width: 215px;
    height: 215px;
    padding-top: 55px;
    text-align: center;
    background-color: #ffffff17;
    position: absolute;
    left: 0%;
    font-size: 100px;
    opacity: 0%;
    transition: .5s;
}

.all:hover{
    opacity: 100%;
    cursor: pointer; 
}


.white-all{
    width: 100%;
    padding-top: 25px;
    margin-top: 60px;
    text-align: center;
    background: #FAFAFA;
    border-bottom: 2px solid rgba(83, 82, 82, 0.219);
    border-top: 2px solid rgba(83, 82, 82, 0.219);
}

.white-input-all{
    display: flex;
    justify-content: center;
}

.white-input input{
    height: 45px;
    width: 271px;
    outline: none;
    border: none;
    margin-left: 40px;
    padding: 25px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.white-big{
    width: 980px;
}

.white-big textarea{
    padding-bottom: 110px;
    width: 573px;
    border-radius: 3px;
    outline: none;
    border: none;
    resize: none;
    padding: 15px;
    margin-bottom: 50px;
    margin-left: 45px;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 2330px;
}

.icon{
    margin-left: 10px;
}

.div-reda{
    height: 45px;
    width: 583px;
    background: #CF404D;
    border-radius: 4px;
    margin-left:221px;
    margin-bottom: 50px;
    margin-top: 40px;
    transition: .5s;
}

.div-reda:hover{
    transform: translateY(-7px);
    transition: .5s;
    opacity: .9;
}

.poka{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}





